.Container {
  width: 100%;
  border-bottom: 2px solid #dddee6;

  & .NavContainer {
    height: 4rem;
    width: 96%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .NavLogo {
      background: #308dfd;
      padding: 0.5rem;
      font-size: 1.2rem;
      color: white;
      border-radius: 0.5rem;
      cursor: pointer;

      &span:nth-child(2) {
        font-weight: 600;
      }

      & span:nth-child(3) {
        font-weight: 700;
      }
    }

    & .NavInfo {
      display: flex;
      align-items: center;
      gap: 2rem;
      justify-content: space-around;

      & .Notification {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;
      }

      & .Account {
        position: relative;


        & .HidePopUp{
          display:none;
        }

        & .AccountPopUp{
          cursor:pointer;
          position:absolute;
          background:white;
          top:2.5rem;
          right:7%;
          font-size: 1rem;
          width:10rem;
          text-align: center;
          border: 1px solid #9d9d9e;
          border-radius: 0.5rem;

          & p{
            color:#757575;
            margin: 0.25rem 0;
            padding: 0.25rem 0.5rem;
          }

          & p:hover{
            color:black;
            background:#dddee6;
          }
        }

        & .Avatar {
          cursor:pointer;
          background: #dddee6;
          padding: 0.5rem;
          width: 2rem;
          height: 2rem;
          text-transform: capitalize;
          font-weight: 600;
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
    }
  }
}
